body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1176px;
  justify-content: center;
}

.gallery-item {
  height: 200px;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
  transform: scale(1.1);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.2s;
}
